:root
{
   --brl-border-radius-sm: 10px;
   --brl-border-radius-sm--md: 12px;
   --brl-border-radius-sm--lg: 14px;
   --brl-border-radius-md: 16px;
   --brl-border-radius-md--lg: 20px;
   --brl-border-radius-lg: 24px;
   --brl-border-radius-xs: 6px;
   --brl-input-border-width: 2px;
   --brl-input-border-color: #D8D9DC;
   --brl-input-padding: 10px 14px;
   --brl-input-radius: 12px;
   --brl-input-size: 14px;
   --brl-card-radius: 12px;
   --brl-card-border-width: 1px;
   --brl-card-border-color: #D8D9DC;
   --pad-xs: 6px;
   --pad-xs--xs: 4px;
   --pad-sm: 10px;
   --pad-sm--md: 12px;
   --pad-sm--lg: 14px;
   --pad-md: 16px;
   --pad-md--lg: 20px;
   --pad-lg: 24px
}

/* General code */
.brl-card
{
   border-radius: var(--brl-card-radius)!important;
   border-width: var(--brl-card-border-width)!important;
   border-style: solid!important;
   border-color: var(--brl-card-border-color)!important;
}
.ov-hidden {overflow: hidden!important; }
.ov-visible {overflow: visible!important; }
.ov-auto { overflow: auto!important; }
.nowrap { flex-wrap: nowrap!important; }
.ellipsis
{
   white-space: nowrap!important;
   text-overflow: ellipsis!important;
   text-wrap: nowrap!important;
   overflow: hidden!important;
}
.grow-1 { flex-grow: 1!important; }
.page { min-height: 100vh!important; }
.page.fixed { height: 100vh!important; max-height: 100vh!important; }
.content-scroll-pp { height: 0px!important; flex-grow: 1!important; overflow: auto!important; }
.content-scroll-pp-row{ height: 100%!important; flex-grow: 1!important; overflow: auto!important;}
.content-scroll-pp-fit{ height: 0px!important; flex-grow: 1!important;}
.content-scroll-pp-fit-row{ height: 100%!important; flex-grow: 1!important; }
.pp-default
    {
        top: 0px!important;
        bottom: 20px!important;
        position: fixed!important;
        max-height: 100vh!important;
        margin-bottom: 0px!important;
        margin-top: 20px!important;
        
    }

@media (max-width: 768px)
{
.pp-default
{
width: 100%!important;
bottom: 0!important;
padding: 0!important;
margin: 0!important;
right: 0!important;
}
}

.pp-centered
{
position: fixed!important;
top: 50%!important;
transform: translateY(-50%)!important;
max-height: 100vh!important;
overflow-y: auto!important;
}

.TableCell
{
padding: var(--brl-table-padding);
gap: var(--brl-table-gap);
}

.TableCrossAxis
{
background-color: var(--brl-table-top-bg-color);
}

@media (max-width: 992px)
{
.tb-column
{
flex-direction: column!important;
}

.tb-column_item
{
min-width: 100%!important;
}

.tb-btn
{
min-width: 100%!important;
}

.tb-btn-2
{
flex-grow: 1!important;
}


/*Active and hover item*/

body
{
user-select: none; outline: none !important;
}

.brl-item_card
{
transition: 300ms ease all!important;
}

.brl-item_card:hover
{
opacity: 82%!important;
}

.brl-item--fancy
{
transition: 300ms ease all!important;
}
.brl-item--fancy:hover 
{
transform: scale(1.025)!important;
}
   
.brl-item_element
{
border-radius: 20px!important;
}
    
.brl-item_card:after, .brl-item_element:after
{
transition: 300ms ease all;
opacity: 0%;
content: '';
box-shadow: 0px 0px 0px 2px white;
width: 100%!important;
height: 100%!important;
position: absolute;
top: 50%;
    pointer-events: all!important;
left: 50%;
transform: translate(-50%,-50%);
border-radius: 16px;
}

.brl-item_element:before, .brl-item_card:before
{
    transition: 300ms ease all;
    opacity: 0%;
    content: '';
    box-shadow: 0px 0px 0px 4px #191D19;
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 50%;
    pointer-events: all!important;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 16px;
}
    
    .brl-item_card:hover:before, .brl-item_card:hover:after, .brl-item:hover .brl-item_element:after, .brl-item:hover .brl-item_element:before {
        opacity: 100%!important;
    }

/* Inputs */

  button, .clickable-element
    {
       -webkit-backface-visibility: hidden!important;
       white-space: nowrap!important;
       outline: none!important;
    }

    /* All inputs customization */

    input:not(.cz-checkbox, .cz-switch), textarea, select, .input, .select2-MultiDropdown, button
    {
       transition: 300ms ease all!important;
        
    }
        
    /* Input disabled status */
    
    input:disabled, textarea:disabled, input:disabled::placeholder, textarea:disabled::placeholder, select:disabled, .select2-MultiDropdown:disabled
    {
        opacity: 60%!important;
       background-color: #ededed!important;
    }

.button:disabled
{
   opacity: 60%!important;
}

input:not(.cz-checkbox, .cz-switch), textarea, select, .select2-MultiDropdown
{
   padding: var(--brl-input-padding)!important;
   line-height: 1!important;
   -webkit-backface-visibility: hidden!important;
   border: var(--brl-input-border-width) solid var(--brl-input-border-color)!important;
   border-radius: var(--brl-input-radius)!important;
   min-width: 100%;
   font-size: var(--brl-input-size)!important;
}

input:not(.cz-checkbox, .cz-switch), textarea:focus, select:focus, .selected, .selected .cm-radio, .input.active, button:focus
{
   box-shadow: 0px 0px 0px 2px white,0px 0px 0px 4px black!important;
} 

textarea
{
   min-height: 120px;
   line-height: 1.6!important;
}
