
  .mandatory-text div:after
    {
	    margin-left: 2px;
        content: "*";
    }

.DateInput
{
	display: flex!important;
	flex-direction: row!important;
	gap: 12p;
	align-items: stretch!important;
	width: 100%!important;
}

.grid
{
display: grid!important;
}

.grid > div
{
width: 100%!important;
min-width: 100%!important;
}

.grid-cols-1	
{
grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2	
{
grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3	
{
grid-template-columns: repeat(3, minmax(0, 1fr));
}


.ov-hidden {overflow: hidden!important; }
.ov-visible {overflow: visible!important; }
.ov-auto { overflow: auto!important; }
.nowrap { flex-wrap: nowrap!important; }

.ellipsis
{
   white-space: nowrap!important;
  overflow: hidden!important;
  text-overflow: ellipsis!important;
}
.grow-1 { flex-grow: 1!important; }
.page { min-height: 100vh!important; }
.page.fixed { height: 100vh!important; max-height: 100vh!important; }
.content-scroll-pp { height: 0px!important; flex-grow: 1!important; overflow: auto!important; }
.content-scroll-pp-row{ height: 100%!important; flex-grow: 1!important; overflow: auto!important;}
.content-scroll-pp-fit{ height: 0px!important; flex-grow: 1!important;}
.content-scroll-pp-fit-row{ height: 100%!important; flex-grow: 1!important; }


.pp-default-2
    {
        top: 0px!important;
        bottom: 20px!important;
        position: fixed!important;
        max-height: 100vh!important;
        margin-bottom: 0px!important;
        margin-top: 20px!important;
        
    }

.pp-default
    {
margin-left: 0px!important;
margin-right: 0px!important;
min-width: auto!important;
height: 96vh!important;
width: 100vw!important;
position: fixed!important;
top: 50%!important;
left: 50%!important;
transform: translate(-50%,-50%)!important;
    }

@media (max-width: 768px)
{
.pp-default
{
width: 100%!important;
bottom: 0!important;
padding: 0!important;
margin: 0!important;
right: 0!important;
	height: 100vh!important;
}
}

.pp-centered
{
position: fixed!important;
top: 50%!important;
transform: translateY(-50%)!important;
max-height: 100vh!important;
overflow-y: auto!important;
}



body
{
user-select: none; outline: none !important;
}
    

/************************ SCROLLBAR ***************************/

/* width */
::-webkit-scrollbar {
  width: 8px;
height: 8px;
border-radius: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
